<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Paketierungsprozess Ihres Webprojekts verwendet. Sie können das Verhalten dieses Prozesses anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Weitere Informationen hierzu finden Sie unter https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/7b9ba155-d4a2-4599-b044-accc719f045e/resourceGroups/RG-EU-HomeStrategies/providers/Microsoft.Web/sites/homestrategies</ResourceId>
    <ResourceGroup>RG-EU-HomeStrategies</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://homestrategies.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>707928a9-6a43-4b64-bdc3-de9ee9f2820a</ProjectGuid>
    <PublishUrl>https://homestrategies.scm.azurewebsites.net/</PublishUrl>
    <UserName>$homestrategies</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>